:root {
  --amarelo: #FFD166;
  --azul-claro: #118AB2;
  --azul-escuro: #073B4C;
  --verde: #06D6A0;
  --rosa: #EF476F;
}

.main {
  max-width: 31.25rem;
  background-color: #fff;
  padding: 1.875rem;
  margin: 3.125rem auto;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.main h1 {
  font-size: 1.25rem;
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 40px;
  min-width: 80%;
  padding: 0 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.form button[type="submit"] {
  height: 40px;
  width: 40px;
  background-color: var(--verde);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tarefas li span {
  display: flex;
  align-items: center;
}

.tarefas li:hover {
  color: #fff;
  background-color: var(--azul-claro);
}

.tarefas li .edit {
  color: var(--verde);
  cursor: pointer;
  margin-right: 15px;
}

.tarefas li .delete {
  cursor: pointer;
  color: var(--rosa);
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
  color: #000;
}

.tarefas li .edit,
.tarefas li .delete {
  cursor: pointer;
  transition: all 600ms;
}